*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f2f2f2;
    font-family: "ubuntu", sans-serif;
    width: 100%;
}

.intro{
    font-weight:500;
    font-size: 32px;
    line-height: 36.77px;
    margin:0.5em 0 0.8em 0;
}

nav{
    /*background: #00805a;*/
    height: 6rem;
    line-height: 6rem;
    padding: 0 2rem;
    border-radius: 0.1em;
    /*position: fixed;
    top: 0;*/
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover{
    background-color: blanchedalmond;
    padding: 1em 4em;
    border-radius: 1.5em;
}

nav ul li #profile{
    height:3rem;
    width:3rem;
    background-color: blanchedalmond;
}

main{
    padding: 0 2rem;
    margin-top: 1rem;
}

#itemForm label{
    display: block;
    margin-bottom: 1rem;
}

#itemForm input{
    height: 2rem;
    text-align: center;
    border: 1px solid #bfbfbf;
}

#quantityInput, #priceInput{
    width: 3rem;
}

#addItemButton{
    border:none;
    background:#00805a;
    color:#fff;
    padding:0.5rem;
}

#itemsDiv{
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /*background: ;*/
    margin-bottom: 0.5rem;
}

.checkbox{
    height:80%;
    width: 2.1rem;
}

.itemInfo{
    text-align: center;
}

.deleteButton{
    margin: 0 0 0 auto;
    border: unset;
    background: #b10000;
    color: #fff;
    font-size: 0.8rem;
    width: 2.5rem;
    height: 100%;
}

.deleteButton:active{
    margin-top: 3px;
}

.purchased{
    background: #00805a;
    color:#fff;
}

.purchased p{
    text-decoration: line-through;
}